{% extends 'base.html' %} {% load static %} {% block 'title' %}
<title>Super Charge - Home</title>
{% endblock %} {% block 'body' %}
<main> 
   <!--<h1>{{ request.user.username }}</h1>-->
    <section class="py-5 container">
      <div class="row py-lg-5">
         <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">SUPER CHARGE</h1>
            <p class="lead text-muted">The Best Place To List or Advertise your cars</p>
            <a href="" class="btn btn-primary my-2">List Your Car</a>
         </div>
         <div class="col-lg-6 col-md-8 mx-auto">
               
         </div>
      </div>

    </section> 

    <div class="album py-5 bg-light">
      <div class="container">
         <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for listing in listings %} 
               <div class="col">
                 {% include "listing_car.html" %}
               </div>
            {% endfor %}
        </div>  
       </div>
            
    </div>


    </main
    {% endblock %}
